@model Meditrack.Models.Quirofano

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Quirofano</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreQuirofano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreQuirofano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionEstadoQuirofano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionEstadoQuirofano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoQuirofanoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoQuirofanoNavigation.IdEstado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdQuirofano">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
