@* @model Meditrack.Models.Quirofano

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Quirofano</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreQuirofano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreQuirofano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionEstadoQuirofano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionEstadoQuirofano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoQuirofanoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoQuirofanoNavigation.IdEstado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdQuirofano" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html> *@

@model Meditrack.Models.Quirofano

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Delete</title>
    <link rel="stylesheet" href="/css/delete.css" />
</head>
<body>

    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-logo">
                <img src="/images/MediTracklogo.png" alt="MediTrack Logo">
            </a>
            <div class="navbar-right">
                <span class="navbar-user">
                    <ion-icon name="person-sharp"></ion-icon>
                    @User.Identity.Name
                </span>

                <a asp-action="Index" class="navbar-item">
                    <ion-icon name="arrow-back-sharp"></ion-icon>
                    Atras
                </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>Eliminar Quirofano</h1>
        <h3>¿Estás seguro de que deseas eliminar este quirofano?</h3>
        <div class="details">
            <h4>Quirofano</h4>
            <hr />
            <div class="details-grid">
                <div class="details-item">
                    <dt>Nombre del quirofano:</dt>
                    <dd>@Html.DisplayFor(model => model.NombreQuirofano)</dd>
                </div>
                <div class="details-item">
                    <dt>Ubicación:</dt>
                    <dd>@Html.DisplayFor(model => model.Ubicacion)</dd>
                </div>
                <div class="details-item">
                    <dt>Descripción del estado:</dt>
                    <dd>@Html.DisplayFor(model => model.DescripcionEstado)</dd>
                </div>
                <div class="details-item">
                    <dt>Descripción del estado del quirofano:</dt>
                    <dd>@Html.DisplayFor(model => model.DescripcionEstadoQuirofano)</dd>
                </div>
                <div class="details-item">
                    <dt>Estado del quirofano:</dt>
                    <dd>@Html.DisplayFor(model => model.EstadoQuirofanoNavigation.IdEstado)</dd>
                </div>
            </div>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdQuirofano" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>

