@model IEnumerable<Meditrack.Models.Quirofano>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Meditrack</title>
    <link rel="stylesheet" href="/css/listas.css" />
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/images/MediTracklogo.png" alt="Logo" />
            <span>Meditrack</span>
        </div>
        <div class="user-info">
            <span>@User.Identity.Name</span>
            <img src="/images/AtrasLogo.png" alt="Salir" onclick="location.href='@Url.Action("Principal", "Inicio")'" />
        </div>
    </nav>

    <div class="container">
        <h1>Lista de Quirófanos</h1>
        <div class="action-buttons">
            <form asp-action="Index" method="get" class="search-bar">
                <input type="text" name="searchString" value="@ViewBag.SearchString" placeholder="Buscar" />
                <button type="submit"><img src="~/images/search" alt="Buscar" /></button>
            </form>
            <a asp-action="Create" class="btn btn-primary">Agregar quirófano</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Ubicación</th>
                    <th>Descripción del estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreQuirofano)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ubicacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescripcionEstadoQuirofano)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdQuirofano">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.IdQuirofano">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdQuirofano">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pagination">
            @{
                int totalRecords = ViewBag.TotalRecords != null ? (int)ViewBag.TotalRecords : 0;
                int pageSize = ViewBag.PageSize != null ? (int)ViewBag.PageSize : 1;

                int totalPages = (int)Math.Ceiling((double)totalRecords / pageSize);
                for (int i = 1; i <= totalPages; i++)
                {
                    <a asp-action="Index" asp-route-pageNumber="@i" class="@(i == ViewBag.PageNumber ? "active" : "")">@i</a>
                }
            }
        </div>
    </div>
</body>
</html>
