@model Meditrack.Models.InventarioMaterialesCirugium

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>InventarioMaterialesCirugium</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadUtilizadaMaterialCirugia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadUtilizadaMaterialCirugia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCirugiaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCirugiaNavigation.IdCirugia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKitsCirugiasNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKitsCirugiasNavigation.IdKitsCirugias)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdInventario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
