@model Meditrack.Models.Doctore

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Doctore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDoctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDoctor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoDoctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoDoctor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdadDoctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdadDoctor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NacionalidadDoctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NacionalidadDoctor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificacionDoctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificacionDoctor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SexoDoctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SexoDoctor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDoctor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
