@model IEnumerable<Meditrack.Models.InventarioMedicamentosCirugium>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadUtilizadaMedicamentoCirugia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCirugiaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKitsMedicamentosNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadUtilizadaMedicamentoCirugia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCirugiaNavigation.IdCirugia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKitsMedicamentosNavigation.IdKitsMedicamentos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInventarioMedicamento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInventarioMedicamento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInventarioMedicamento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
