@model IEnumerable<Meditrack.Models.TiposdeMedicamento>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreTipoMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionTipoMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restricciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTipoMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionTipoMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restricciones)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoMedicamento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoMedicamento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoMedicamento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
