
@model Meditrack.Models.Paciente

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Delete</title>
    <link rel="stylesheet" href="/css/delete.css" />
</head>
<body>

<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">
            <img src="/images/MediTracklogo.png" alt="MediTrack Logo">
        </a>
        <div class="navbar-right">
            <span class="navbar-username">@User.Identity.Name</span>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Eliminar Paciente</h1>
    <h3>¿Estás seguro de que deseas eliminar este paciente?</h3>
    <div class="details">
        <h4>Paciente</h4>
        <hr />
        <div class="details-grid">
            <div class="details-item">
                <dt>Nombre del paciente:</dt>
                <dd>@Html.DisplayFor(model => model.NombrePaciente)</dd>
            </div>
            <div class="details-item">
                <dt>Fecha de nacimiento:</dt>
                <dd>@Html.DisplayFor(model => model.FechaNacimiento)</dd>
            </div>
            <div class="details-item">
                <dt>Sexo:</dt>
                <dd>@Html.DisplayFor(model => model.SexoPaciente)</dd>
            </div>
            <div class="details-item">
                <dt>Edad:</dt>
                <dd>@Html.DisplayFor(model => model.EdadPaciente)</dd>
            </div>
            <div class="details-item">
                <dt>Identificacion:</dt>
                <dd>@Html.DisplayFor(model => model.IdentificacionPaciente)</dd>
            </div>
            <div class="details-item">
                <dt>Nacionalidad</dt>
                <dd>@Html.DisplayFor(model => model.NacionalidadPaciente)</dd>
            </div>
            <div class="details-item">
                <dt> Numero telefonico:</dt>
                <dd>@Html.DisplayFor(model => model.TelefonoPaciente)</dd>
            </div>
            <div class="details-item">
                <dt>Tipo Sanguineo:</dt>
                <dd>@Html.DisplayFor(model => model.TipoSanguineo)</dd>
            </div>
            <div class="details-item">
                <dt>Seguro Medico:</dt>
                <dd>@Html.DisplayFor(model => model.SeguroMedico)</dd>
            </div>
            <div class="details-item">
                <dt>Historial Medico:</dt>
                <dd>@Html.DisplayFor(model => model.HistorialMedico)</dd>
            </div>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPaciente" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </form>
</div>

</body>
</html>
