@model Meditrack.Models.CasaComercial

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>CasaComercial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCasaComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCasaComercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionCasaComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionCasaComercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoCasaComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoCasaComercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoCasaComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoCasaComercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebCasaComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebCasaComercial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCasaComercial">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
